<!-- <div class="container float-right" style="display: flex inline-flexbox ">
    <div >
        <button type="button" class="btn btn-primary " style="margin-top: 10px;" (click)="onPress()">Show the graph</button>
    </div>

    <div id="comp-render" *ngIf="display">
        <charts></charts>
    </div>
    </div> -->
<!-- <div>
        <button style="float: right; margin-right: 10px;" routerLink="/statistics" mat-raised-button color="Accent">View Statistics</button>
        <button style="float: right; margin-right: 10px;" routerLink="/login" mat-raised-button color="Accent">LogOut</button>
        <button style="float: right; margin-right: 10px;" routerLink="/aboutus" mat-raised-button color="Accent">About Us</button>
    </div> -->

<div id="chartContainer" style="height: 370px; width: 60%; margin-top: 10vh; float: left;"></div>